* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f3f5fc;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5rem;
  /* row-gap: 40px; */
  /* padding: 40px; */
  height: 100vh;
}

.header {
  /* CSS GRID */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.header-logo {
  align-self: self-start;
  justify-self: left;
  padding: 4rem;
}

.flags {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  gap: 1.5rem;
  margin-top: 3rem;
}

.flags img {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.flags img:hover {
  transform: scale(1.1);
}

.header-brazil {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.header-logo img {
  height: 60px;
}

.header-text-01 {
  padding-left: 2rem;
  /* CSS GRID */
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.header-text-area {
  font-size: 2.4rem;
  height: 20rem;
  padding: 1.2rem 1.1rem 1.2rem 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.4rem;
  width: 90%;
  border-style: none;
  border-radius: 15px;
  background: none;
  resize: none;
}

.header-text-area::placeholder {
  color: #9dafc6;
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-p {
  align-self: center;
  justify-self: start;
  font-size: 1.4rem;
  color: #54749c;
  margin-left: 2.4rem;
  margin-bottom: 14rem;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
}

.main-p-text {
  align-self: center;
  justify-self: start;
  font-size: 1.4rem;
  color: #54749c;
  margin-left: 2.4rem;
  margin-bottom: 14rem;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
}

.main-p-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.5rem;
}

.btn--criptografar,
.btn--descriptografar {
  font-size: 2.4rem;
  width: 42rem;
  height: 8rem;
  border-style: none;
  border-radius: 30px;
  letter-spacing: 2px;
  cursor: pointer;

  transition: all 0.3s;
}

.btn--criptografar {
  background-color: #0a3871;
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.btn--criptografar:hover,
.btn--criptografar:active {
  background-color: #07274f;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.btn--descriptografar {
  background-color: #d8dfe8;
  color: #54749c;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.btn--descriptografar:hover {
  background-color: #e0e5ed;
  transform: scale(1.01);
}

.aside {
  max-width: 90%;
  margin: 3.5rem 0 4rem 0;
  background-color: #fefeff;
  border-radius: 32px;
  box-shadow: 0 1px 32px rgba(0, 0, 0, 0.1);

  font-size: 40px;
  color: #fff;

  /* CSS GRID */
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  justify-self: end;
}

.aside-container {
  display: flex;
  flex-direction: column;
}

.aside-text-area {
  font-size: 1.8rem;
  padding: 2.4rem;
  height: 25rem;
  line-height: 3.2rem;
  letter-spacing: 0.4rem;
  width: 100%;
  border-style: none;
  border-radius: 15px;
  background: none;
  resize: none;
}

.aside-text-area:focus {
  outline: none;
}

.correct-1 {
  width: 30rem;
  height: 30rem;
  margin-left: 2rem;
  margin-right: 9rem;
}

.correct-2 {
  width: 30rem;
  height: 30rem;
  margin-left: 2rem;
  margin-right: 9rem;

  display: none;
}

.aside-nenhuma-mensagem {
  padding: 1.8rem;
  text-align: center;
  font-size: 2.4rem;
  color: #0a3871;
  opacity: 90%;
}

.aside-digite-um-texto {
  font-size: 1.4rem;
  padding: 0 3rem 5rem 3rem;
  text-align: center;
  color: #07274f;
  opacity: 50%;
}

.aside--btn--copiar {
  text-align: center;

  /* Adding some codes */
  display: flex;
  justify-content: center;
}
.btn--copiar {
  display: none;
}

.btn--copiar {
  font-size: 2.4rem;
  font-weight: 700;
  width: 24rem;
  height: 6rem;
  border-style: none;
  border-radius: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  /* background-color: #ced7e3; */
  /* color: #0a3871; */
  background-color: #0a3871;
  color: #e7ebf1;

  transition: transform 0.3s background-color 0.3s;
}

.btn--copiar:hover,
.btn--copiar:active {
  background-color: #1b549b;
  color: #ced7e3;
  transform: scale(1.01);
}

.footer-p {
  align-self: end;
  justify-self: start;
  font-size: 1.2rem;
  color: #04162d;
  opacity: 50%;
  margin-left: 2.4rem;
  margin-bottom: 2rem;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.2rem;
  color: #04162d !important;
  text-decoration: none;
}

.footer-icon-github {
  align-self: end;
  justify-self: center;
  font-size: 1.2rem;
  color: #0a3871;
  opacity: 50%;
  margin-left: 2.4rem;
  margin-bottom: 2rem;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
}

.footer-github {
  width: 2.4rem;
  height: 2.4rem;
  opacity: 1;
  color: #0a3871;
}

.footer-icon-linkedin {
  align-self: end;
  justify-self: center;
  font-size: 1.2rem;
  color: #0a3871;
  opacity: 50%;
  margin-left: 9rem;
  margin-bottom: 2rem;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: flex;
  align-items: center;
}

.footer-linkedin {
  width: 2.4rem;
  height: 2.4rem;
  opacity: 1;
  color: #0a3871;
}
